<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <!-- one link for our bootstrap cdn --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- link to specific css for only the landing page -->
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <!-- check browser for version and add special classes incase browser is older (make cross browser compatible) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <!-- Conditionals for flash error or success messages -->
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <!-- Welcome to YelpCamp and View all Campgrounds is inside a div with an id of landing-header -->
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
